//color variables
$stoneBlack: #161617;
$stone900: rgb(49, 47, 56);
$stone800: #45434f;
$stone700: #5a5767;
$stone300: #a3a5b4;
$stone100: #e8e9ec;
$amber: #feae44;
$footerBlue : rgb(84, 84, 244);
$header-logo :rgb(194, 8, 8)